@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  margin: 0;
  padding: 0;
}
body {
  background: url("../images/coffeeBackground.png") no-repeat;
  width: 100%;
  height: 150px;
  background-size: 100%;
}
:root {
  --main-color: #4f3420;
  --hover-color: #ffebca;
  --white: #f1f1f1;
  --button-color: #783200;
  --brown-color: #8a3900;
  --papaya-color: #ffebca;
  --persian-color: #d09265;
}

nav ul {
  background-color: var(--main-color);
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  transition: 0.5s ease;
}

nav ul li a:hover {
  color: var(--hover-color);
  transition: 0.5s ease;
}

main {
  display: grid;
  grid-template-columns: 70% 25% 5%;
  height: 900px;
}

.mainstock {
  background-color: rgba(208, 146, 101, 0.5);
  color: var(--main-color);
  font-size: 2.5rem;
  font-weight: bolder;
  padding-left: 3%;
}

main .stock {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  text-decoration: none;
}

main .stock .box {
  width: 15rem;
  text-align: center;
  color: var(--main-color);
  border-radius: 25px;
  padding-bottom: 20px;
  margin: 15px;
  background-color: rgba(208, 146, 101, 0.5);
  margin: 50px;
  padding-top: 50px;
}
main .mainstock .box {
  width: 60rem;
  font-size: 1,5rem;
  text-align: left;
  color: var(--main-color);
  border-radius: 25px;
  padding-bottom: 20px;
  margin: 15px;
  background-color: rgba(208, 146, 101, 0.5);
  margin: 50px;
  padding-top: 50px;
}

main .third-column {
  background-color: rgba(208, 146, 101, 0.5);
}
