@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/coffeeBackground.png");
  width: 100%;
  height: 100vh;
  background-size: 100%;
}

:root {
  --main-color: #4f3420;
  --hover-color: #ffebca;
  --white: #f1f1f1;
  --button-color: #783200;
  --brown-color: #8a3900;
  --papaya-color: #ffebca;
  --persian-color: #d09265;
}

nav ul {
  background-color: var(--main-color);
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  transition: 0.5s ease;
}

nav ul li a:hover {
  color: var(--hover-color);
  transition: 0.5s ease;
}

main {
  width: 100%;
  display: flex;
}

main .coffees {
  display: flex;
  grid-template-columns: repeat(4, 0.3fr);
  display: grid;
  width: 65%;
}

main .basketSide {
  display: grid;
  width: 35%;
  background-color: rgba(241, 174, 119, 0.363);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

main .basket {
  width: 90%;
  height: 90%;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 75px;
  margin: auto;
  text-align: center;

}

main .basketTitle {
  font-size: 43px;
  text-align: center;
  color: var(--brown-color);
  font-weight: 1000;

}

main .selection {
  position: relative;
  background-color: rgba(255, 255, 255, 0.397);
  width: 95%;
  height: 77%;
  margin: auto;
  border-radius: 28px;
  box-shadow: rgba(48, 48, 48, 0.61) 3px 3px 6px 0px inset, rgba(63, 63, 63, 0.63) -3px -3px 6px 1px inset;
}

main .totalPrice {
  position: absolute;
  font-size: 40px;
  bottom: 5px;
  left: 20px;
  color: var(--brown-color);
  font-weight: 1000;

}

main .btnPay {
  font-size: 20px;
  width: 140px;
  color: black;
  height: 60px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: var(--button-color);
  color: white;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
  font-weight: 800;

}

main .coffees .box {
  width: 15rem;
  text-align: center;
  color: var(--white);
  border-radius: 25px;
  background-color: var(--persian-color);
  padding-bottom: 20px;
  margin: 15px;
}

main .coffees .box .img {
  background-color: var(--main-color);
  border-radius: 25px 25px 0px 0px;
}

main .coffees .box .img p {
  padding-bottom: 20px;
}

main .coffees .box img {
  width: 50%;
}

main .coffees .box .add {
  padding: 10px;
  border-radius: 0px 0px 25px 25px;
}

main .coffees .box .add a {
  background-color: var(--brown-color);
  text-decoration: none;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
}